@media only screen and (min-width:200px) and (max-width:575px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header{
        width: 100%;
        position: fixed ;
        height: 100px;
        padding: 0;
        margin: 0;
    }
    
    .closebtn{
        display: block;
        left: -150px;
    }
    .show,.navbar{
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: purple;
        color: white;
        right: 900px;
        top: 100px;
        transition: 1s;
        align-items: center;
        justify-content: center;

    }
    .navbar a{
        display: block;
    }
    .logo{
        font-size: 25px;
        margin-left: 10px
    }
    
    .home{
        display: flex;
        position: relative;
        top: 100px;
        width: 90%;
        height: 80vh;
        padding: 10px;
        justify-content: space-between;
        align-items: center;
    }
    .home-content{
        max-width: 576px;
        position: absolute;
        top: 220px;
        left: 35px;
    }
    .home-content h3 {
        font-size: 20px;
        font-weight: 600;        
    }
    .home-content h1{
        font-size: 32px;
        font-weight: 600;
    }
    .my-profile{
        display: flex;
        position:absolute;
        left: 35%;
        top: 20px;
        width: 130px;
        height: 130px;
    }
    .my-profile img{
        width: 100%;

    }
    .about{
        width: 85%;
        height: auto;
        position: relative;
        top: 120px;
        left: 0px;


    }
    .about-img{
        position: absolute;
        top: 20px;
        margin: 30px;
        width: 80%;
    }
    .about-text p{
        font-size: 17px;
    }
    .about-text {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 400px;
        width: 90%;
        font-size: 24px;
        width: 90%;
        padding: 10px;
        left: 20px;
    }
    .about-text h2 {
        display: flex;
        font-size: 30px;
        position: relative;
        top: 0px;
        left: 80px;
    }
    .about-text h2 span{
        padding-left: 10px;
    }
    .about-text h4 {
        display: flex;
        font-size: 22px;
    }
    .container1{
        height: auto;
        padding: 5px;
        margin-left: 5px;
    }
    .container2 {
        height: auto;
        padding-right: 40px;
        margin: 0;

    }
    #services{
        width: 90%;
        position: relative;
        top: 460px;
    }
    .services-list{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left:50px;
        gap:40px

    }
    #my-skills{
        position: relative;
        top: 370px;
    }
    #my-skills-h1{
        position: relative;
        top: 425px;
    }
    .sub-title{
        font-size: 33px;
        position: relative;
        top: 60px;
    }
    .container1{
        width: 90%;
        margin: 5%;
        position: relative;
        top: 50px;

    }
    .Technical-bars{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .heading{
        font-size: 25px;
        margin-bottom: 5px;
    }
    .container2{
        position: relative;
        top: 10px;
        padding-top: 10px;
    }
    .heading1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .container{
        width: 100%;
        padding: 20px;
    }
    .main-text h2{
        font-size: 35px;
    }
    .portfolio-content{
        width: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 40px;
        gap :30px
    }
    .layer{
        padding: 10px;
        font-size: 14px;
    }
    .row img{
        width: 90%;
    }
    section .home{
        height: 335px;
        width: 324;
    }
    .about-text{
        width: 300px;
    }
    .menu-icon{
        width: 50px;
        height: 40px;
        display: block;
        position: absolute;
        right: 50px;
        color: white;
    }
    .home-sci{
        margin: 10px;
    }
    .contact{
        display: flex;
        flex-direction: column;
    }

}
@media only screen and (min-width:576px) and (max-width:767px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header{
        width: 100%;
        position: fixed ;
        height: 60px;
        padding: 0;
        margin: 0;
    }
    .navbar{
        position: relative;
        display: flex;
        right: 30px;
    }
    .navbar a{
        display: block;
        font-size: 14px;
    }
    .home{
        position: relative;
        top: 40px;
        width: 90%;
        height: 100vh;
    }
    .home-content{
        width: 80%;
        position: relative;
        top: -120px;
        left: 30px;
    }
    .my-profile{
        position: relative;
        left: 340px;
        top: -25px;
        width: 150px;
        height: 150px;
    }
    .my-profile img{
        width: 100%;
    }
    .about{
        width: 85%;
        height: auto;
        position: relative;
        top: 350px;
        left: 40px;
    }
    .about img{
        width: 40%;
        position: absolute;
        top: 70px;
        left: 0px;

        
    }
    .about-text h2{
        font-size: 38px;
    }
    .about-text h4{
        font-size: 30px;
        margin: 5px;
    }
    .about-text p{
        font-size: 16px;
    }
    #services{
        width: 90%;
        position: relative;
        top: 300px;
    }
    #my-skills{
        position: relative;
        top: 10px;
        display: flex;

    }
    #my-skills-h1{
        position: relative;
        top: 180px;
        margin-bottom: 10px;
    }
    .heading{
        position: relative;
        top: 35px;
        left: -25px;
    }
    .container1{
        margin: 30px;
    }
    .container2{
        position: relative;
        top: 300px;
        margin: 30px;
    }
    .row{
        width: 85%;
        margin: 30px 5%;
    }
    .contact-text h2{
        position: relative;
        font-size: 85px;
    }

}
@media only screen and (min-width:767px) and (max-width:1024px){
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header{
        width: 100%;
        position: fixed ;
        height: 80px;
        padding: 0;
        margin: 0;
    }
    .navbar{
        position: relative;
        gap: 5px;
        right: 0px;
    }
    .navbar a{
        font-size: 15px;
    }
    .logo{
        padding-left: 10px;
    }
    .home{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .my-profile{
        position: relative;
        top: 40px;
        left: 20px;
    }
    .home-content{
        position: relative;
        top: -190px;
        left: -40px;
    }
    .container1{
        position: relative;
        top: -100px;
        margin-left: 50px;
    }
    .container2{
        position: relative;
        top: 300px;
        margin-left: 45px;
    }
    .about{
        position: relative;

    }
    .about-img{
        width: 85%;
        padding-left: 10px;
        }
    .about-text h2{
        font-size: 50px;
        margin: 4px 0px;
    }
    .about-text{
        position: relative;
        width: 90%;
        margin: 0px;
    }
    #portfolio{
        position: relative;
        width: 100%;
    }
    .portfolio-content{
        position: relative;
        display: inline-block;
    }
    .row{
        width: 90%;
        margin: 10% 5%;
    }
    .chatmate{
        width: 100%;
        height: 700px;
    }


}