* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: #edeede;
  background: #081b29;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background: rgb(126, 3, 248);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.closebtn{
  width: 60px;
  height: 50px;
  display: none;
  font-size: 50px;
  color: white;
  position: relative;
  left: 20px;
}
.navbar{
  position: absolute;
  right:-800px;
  display: flex;
  width: 100%;
  height: fit-content;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: #0ef;
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: #081b29;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 70px 10% ;
}
.home-content {
  max-width: 600px;
  position: absolute;
  top: 300px;
  left: 150px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.8s;
}
.home-content h3 span {
  color: #0ef;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}
.home-sci{
  display: flex;
  width: 90%;
  margin: 3%;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(-0.2s * var(--i));

  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 20px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
    color: white;
}
.my-profile{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  right: 250px;
  border:6px solid #ff9d00 ;
  box-shadow: 10px #ff004f;
  box-shadow: 0px 0px 45px 25px rgb(224, 198, 2);
  animation: box-Shodow-p 11s ease forwards;
  animation-iteration-count: infinite;
}
.my-profile img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}
.about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 100%;
  border-radius: 8px;
}
.about-text h2 {
  font-size: 60px;
}
.about-text h2 span {
  color: #0ef;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
#services {
  position: relative;
  width: 90%;
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  text-align: center;
  font-size: 45px;
  padding-bottom: 70px;
}
.sub-title span {
  color: #0ef;
}
.container {
  padding: 90px;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}
.font{
  font-size: 35px;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  padding-top: 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  margin-top: 20px;
  display: inline-block;
}
.read {
  height: 6vh;
  width: 12vh;
  display: inline-block;
  padding: 12px, 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.read:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.services-list div:hover {
  transform: translateY(-10px);
}
section {
  display: flex;
  flex-wrap: wrap;
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px 75px 90px;
  margin-left: 120px;
}
.container2 {
    width: 600px;
    height: 500px;
    padding: 60px 90px 75px 90px;
    margin-left: 120px;
  }
.heading {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    padding-top: 28px;
    margin-bottom: 40px;
  }
.bar {
  font-size: 23px;
}
.Technical-bars .bar {
  margin: 40px 0;
}
.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child {
  margin-bottom: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
}
.Technical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.Technical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html span {
  width: 90%;
}
.progress-line.css span {
    width: 63%;
}
.progress-line.Javascript span {
    width: 60%;
}
.progress-line.java span {
    width: 70%;
}
.progress-line.mysql span {
    width: 90%;
}
.progress-line.react span {
    width: 20%;
}
.progress-line.python span {
    width: 50%;
}
.progress-line span::after{
    position: absolute;
    padding: 1px 0;
    background-color: #000000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}
.progress-line.html span::after{
    content: "90%";
}
.progress-line.css span::after{
    content: "63%";
}
.progress-line.Javascript span::after{
    content: "60%";
}
.progress-line.java span::after{
    content: "70%";
}
.progress-line.mysql span::after{
    content: "90%";
}
.progress-line.react span::after{
    content: "20%";
}
.progress-line.python span::after{
    content: "50%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes showText{
    100%{
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start; 
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;

}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;

}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{animation:animate-path1 1s 1s linear forwards}
.path-2{animation:animate-path2 1s 1s linear forwards}
.path-3{animation:animate-path3 1s 1s linear forwards}
.path-4{animation:animate-path4 1s 1s linear forwards}

@keyframes animate-path1{
    100%{
        stroke-dashoffset: 50;;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 175;;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 75;;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.radial-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50px);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.main-text{
    padding-top: 130px;
    margin-top: 240px;
}
.main-text h2{
    top: 10px;
    font-size: 60px;
    line-height: 1;
    text-align: center;

}
.main-text h2 span{
    color: #0ef;

}
#portfolio{
    width: 100%;
    position: relative;


}
.portfolio-content{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 18px;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;

}
.layer i{
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}
.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;

}
.contact-text h2{
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h2 span{
    color: #0ef;
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228, 228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 10px;
    display: block;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01)translateY(-5px);
    color: #0ef;

}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000000;
    box-shadow: 0 0 20px #0ef;
    border-radius: 20px;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #ffffff;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;

}
.contact-form form .send{
    display: flex;
    width: 90%;
    height: 45px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding: 40px, 60px;
    background: #0ef;
    border-radius: 20px;
    font-size: 24px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;

}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;

}
.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;

}
.color-white{
  color: #fff;
}
.menu-icon{
  font-size: 30px;
  cursor: pointer;
  position: relative;
  right: 100px;
  display: none;
}



















@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes box-Shodow-p {
  0%{
    box-shadow: 0px 0px 45px 25px rgb(224, 198, 2);
  }
  10%{
    box-shadow: 0px 0px 45px 25px rgb(202, 51, 40);
  }
  20%{
    box-shadow: 0px 0px 45px 25px rgb(54, 224, 2);
  }
  30%{
    box-shadow: 0px 0px 45px 25px rgb(22, 38, 184);
  }
  40%{
    box-shadow: 0px 0px 75px 15px rgb(180, 106, 32);
  }
  50%{
    box-shadow: 0px 0px 75px 15px rgb(255, 225, 0);
  }
  60%{
    box-shadow: 0px 0px 75px 15px rgb(57, 195, 169);

  }
  70%{
    box-shadow: 0px 0px 75px 15px rgb(149, 29, 185);

  }
  80%{
    box-shadow: 0px 0px 75px 15px rgb(136, 42, 101);
  }
  90%{
    box-shadow: 0px 0px 75px 15px rgb(5, 235, 181);
  }
  100%{
    box-shadow: 0px 0px 75px 15px rgb(100, 25, 220);
  }
}

